
p{
    margin: 0;
}


.container{
    width: 100%;
    height: 100%;
    background-color: #ffc727;
    display: flex;

}

.title{
    width: 25%;
    height: 100%;
    margin: auto 0;
    padding-left: 3%;
    color: white;
    display: flex;
    align-items: center;
}

.title p{
    font-weight: bold;
    margin: auto 0;
}


.logo{
    width: 50%;
    display: flex;
}

.logo img{
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.right-side-navbar{
    width: 25%;
    height: 100%;
    display: flex;
    margin: auto 0;
    flex-direction: row;
}

.content{
    width: 100%;
    height: 100%;
    margin: auto 0;
    display: flex;
    justify-content: flex-end;
    justify-content: space-evenly;
}


.project-options{
    width: 2.5rem;
    height: 2.5rem;
    margin: auto 0;
    display: flex;
}

.project-options .material-symbols-outlined{
    margin: auto auto;
    font-size: xx-large;
    font-weight: 410;
    color: white;
}


.share-button{
    height: 2rem;
    background-color: white;
    display: flex;
    margin: auto 0;
    border-radius: 8px;
    background-color: #426ef0;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.avatar{
    width: auto;
    height: 100%;
    display: flex;
}


.avatar-content{
    width: auto;
    height: 65%;
    margin: auto 0;
}

.share-button .material-symbols-outlined{
    //width: 30%;
    //margin: auto 0;
    font-weight: lighter;
    //margin-right: 3px;

}

// .share-button p{
//     // margin: auto 0;
//     font-size: large;
// }

.share-button:hover{
    background-color: #235aff;
    font-weight: bold;
    cursor: pointer;
}


.project-options:hover{
    background-color: #ffbb00;
    border-radius: 100px;
    cursor: pointer;
}

.avatar:hover{
    cursor: pointer;
}

.logo:hover{
    cursor: pointer;
}

