<div class="navbar-container">
    <div  style="width: 98%;display: flex; justify-content: space-between; height: 100%">
      <div class="menu-logo-navbar">
        <img class="navbar-icon" src="../../../assets/menu-burger.png">
  
        <img class="navbar-logo" src="../../../assets/logo.jpg">
      </div>
  
      <div class="navbar-input">
        <input placeholder="Mời bạn tìm Jam" >
      </div>
  
      <div class="navbar-profile">
        <img src="../../../assets/add.jpg">
      </div>
    </div>
  </div>
  