<div class="home-container">
  <div class="home-container-content">
      <div class="top">
        <div class="top-left">
            <p>Jam Gần Đây</p>
        </div>

        <div class="top-right">
            <div>
              <button class="filter-project-btn">Do mọi người sở hữu</button>
            </div>

            <div class="home-top-option">
              <img src="../../../assets/loading.png">
            </div>

            <div class="home-top-option">
              <img src="../../../assets/sort.png">
            </div>

            <div class="home-top-option">
              <img src="../../../assets/table-rows.png">
            </div>
        </div>
      </div>
      <div class="bottom">
        <app-jam-ject></app-jam-ject>

        <div class="floating-container">
          <div class="floating-button">+</div>
        </div>
      </div>
  </div>
</div>
