<div class="parent">

  <div class="top">

    <div class="top-left">

      <div style="display:flex" >
        <p class="content">Jam Gần Đây</p>
      </div>

    </div>

    <div class="top-right">

      <div>
        <button>Do mọi người sở hữu</button>
      </div>

      <div>
        <img src="../../../assets/loading.png" >
      </div>

      <div>
        <img src="../../../assets/sort.png">
      </div>

      <div>
        <img src="../../../assets/table-rows.png">
      </div>

    </div>




  </div>
  <!-- <div class="center"></div>
  <div class="bottom"></div> -->
</div>


