.parent {
  width: 100vw;
  height: 100vh ;
  // background-color: cadetblue;
}
.top {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-left {
  width: 15rem;
}
// p {
//   font-size: 15pt;
//   margin-left: 40px;
//   cursor: pointer;
// }

.content {
  font-size: 1.5rem;
  margin-left: 40px;
  cursor: pointer;
}

.top-right {
  display: flex;
  flex-direction: row;
}

// img {
//   display: flex;
// }


button {
  height: 4rem;
  position: absolute;
  width:  13rem;
  border-radius: 20px;
  cursor: pointer;
  // user-select: none;
  border: none;
  // margin: auto 20px auto auto;
  margin-top: 15px;
}
