<div class="container">
    <div class="sign-in">
        <div class="sign-in-frame">
            <div class="sign-in-methods">
                <div class="sign-in-methods-content">
                    <p>Đăng nhập</p>
                    <div class="methods">
                        <img src="assets/fb.png" alt="">
                        <img src="assets/google.png" alt="">
                        <img src="assets/Twitter.png" alt="">
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="username">
                    <div style="font-weight: bold;">
                        Tên đăng nhập
                    </div>
                    <input class="input-username" type="text" placeholder="Tên đăng nhập">
                </div>
    
                <div class="password">
                    <div style="font-weight: bold;">
                        Mật khẩu
                    </div>
                    <input class="input-password" placeholder="Mật khẩu">
                </div>
    
                <button class="input-button">Đăng nhập</button>
                
                
                <div class="sign-in-frame-footer">
                    <div style="display: flex;">
                        <input type="checkbox" name="" id="">
                        Nhớ tài khoản
                    </div>
                    <div>
                        <a class="forget-password" href="">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up">
        <div class="logo">
            <img  style="width: 80%;" src="assets/logo2.png" alt="">
            <p style="text-decoration: none;" href="">Chưa có tài khoản?</p>
            <div class="sign-up-button">
                <button>Đăng ký</button>
            </div>
        </div>
    </div>
</div>
