<div class="container">
    <div class="sign-in">
        <div class="sign-in-frame">
            <div class="sign-in-methods">
                <div class="sign-in-methods-content">
                    <p>Đăng nhập</p>
                    <div class="methods">
                        <img src="assets/fb.png" alt="">
                        <img src="assets/google.png" alt="">
                        <img src="assets/Twitter.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sign-up">
        <div class="logo">
            <img src="assets/logo2.png" alt="">
            <a href="">Chưa có tài khoản?</a>
            <div class="sign-up-button">
                <button>Đăng ký</button>
            </div>
        </div>
        
    </div>
</div>
